<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rhinepereira.saints">

    <uses-sdk
            android:minSdkVersion="22"
            android:targetSdkVersion="30"/>

    <application
            android:allowBackup="false"
            android:background="#121212"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".LitanyActivity"
                android:exported="false"
                android:label="@string/title_activity_litany"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".MysteryActivity"
                android:exported="false"/>
        <activity
                android:name=".Memorare"
                android:exported="false">
        </activity>
        <activity
                android:name=".Clare"
                android:exported="false">
        </activity>
        <activity
                android:name=".FrancisAssisi"
                android:exported="false">
        </activity>
        <activity android:name=".AngelBrief">
        </activity>
        <activity
                android:name=".Joseph"
                android:exported="false"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".CarloAcutis"
                android:exported="false"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Powers"
                android:exported="false"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Personal_Guardian_Angels"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Angels"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Archangels"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Principalities"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Virtues"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Dominions"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Thrones"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Cherubim"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Seraphim"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AngelMain"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".StartActivity"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".PrayerActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".PrayerActivity2"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".CreedActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".LordsActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".HailActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".QueenActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".FatimaActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".CommunionActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ApostleActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".BooksActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AngelActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AngelActivity2"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OtherSaintsActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Child_Saints_Activity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AboutActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".FeedbackActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".NiceneActivity"
                android:exported="false"
                android:screenOrientation="portrait"/> <!-- <activity android:name=".TTSActivity"/> -->
        <activity android:name=".SacramentsActivity"/>
        <activity
                android:name=".Peter"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ApostleName"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Andrew"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".JamesM"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".John"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Philip"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Thaddeus"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Bartholomew"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Thomas"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Mathew"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".JamesL"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Simon"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Judas"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Mark"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Luke"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Paul"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".FrancisXavier"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".GonsaloGarcia"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AnthonyPadua"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".TheresaCalcutta"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Alphonsa"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".PadrePio"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MaryMagdelene"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MaryFautina"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".TheresaChildJesus"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".DomnicSavio"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Bernadette"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Tarcisius"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MariaGoretti"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Philomena"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AgnesOfRome"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".RoseOfViterbo"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ImeldaLambertini"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Vitus"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Crescentius"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".JoseDelRio"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Olivia"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Prayer_HolySpirit"
                android:exported="false"
                android:screenOrientation="portrait"/>
    </application>

</manifest>